/* ---------------------------------------------------------------------------
Asana for Obsidian by (@Maxymillion)

Asana integration for Obsidian

Readme:
https://github.com/Maxymillion/obsidian-asana

----------------------------------------------------------------------------- */

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.mxy-setting {

}

.mxy-setting--invisible {
	display: none;
}

.mxy-setting__button--loading svg {
	-webkit-animation: rotating 1s linear infinite;
}

.mxy-setting__button--transparent {
	background-color: transparent !important;
	border-color: transparent !important;
	padding: 0 0.2rem;
}

.mxy-setting__button--transparent:disabled{
	color: var(--color-grey-tint) !important;
}

.mxy-setting__heading-group{
	margin-top: 0.75em;
	position: relative;
}

.mxy-setting__active-user {
	position: absolute;
	top: 0;
	right: 0;
	color: var(--icon-color);
	opacity: var(--icon-opacity);
	line-height: var(--line-height-tight);
	font-size: var(--font-ui-smaller);
}

.mxy-dangerzone {
	margin-top: 1.5em;
	background-color: var(--background-secondary);
	border-radius: var(--radius-m);
	border: var(--modal-border-width) solid var(--modal-border-color);
	padding: 1rem 1rem 0.5rem;
}
